body {
	font-size: 0.8em;
}

form {
	margin: 20px 0 0;
}

form .ui-input-text {
	display: inline-block;
	width : 64%;
	height: 20px;
	vertical-align: middle;
	font-size: 1.1em;
}

form > .ui-btn {
	display: inline-block;
	width: 30%;
	float:right;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

#statusbar {
	z-index: 100;
	position: fixed;
	background-color: #666;
	top: 0;
	height: 20px;
	margin: 0;
	width: 100%;
	box-shadow: 0 0 5px #000;
}

#notification {
	padding: 3px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 0.9em;
	text-align: center;
	text-shadow: 0 0 2px #000;
	color: #FFF;
}

#main {
}

#todos {
	margin-bottom: 40px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #666;
	z-index: 500;
	padding: 5px 0;
}

#download, #upload {
	width: 48%;
	height: 100%;
}

#download {
	float: left;
}

#upload {
	float: right;
}

.ui-icon {
	background-image: url(../img/icons-18-white.png);
}