body {
	font-size: 0.8em;
}

form {
	margin-top: 15px;
}

form input[type="text"] {
	font-size: 1.1em;
}

form .ui-input-text {
    display: inline-block;
    width : 60%;
    vertical-align: middle;
}

form #download, form #upload {
	width: 50%;
}

form > .ui-btn {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 3px 8px;
    vertical-align: middle;
}

#statusbar {
	top: 0;
	box-shadow: 0 1px 5px #333;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	position: fixed;
	text-shadow: 0 0 2px #000;
	font-weight: normal;
	text-align: center;
	width: 100%;
	height: 10px;
	padding: 3px 0;
}